<!-- <p>instructions works!</p> -->
<body>
<div  id="instructions">
    <h1>
        שלום {{user.FirstName}} {{user.LastName}}
    </h1>
    <h4>
        עלייך למלא את הטופס עפ"י ההוראות הבאות:
    </h4>
    <p>---------------------------------------------------------</p>
    <p>---------------------------------------------------------</p>
    <p>---------------------------------------------------------</p>
    <p>---------------------------------------------------------</p>
    <p>---------------------------------------------------------</p>
</div>
</body>