.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 40vw;
}

.example-full-width {
  width: 100%;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bo {
  margin-left: 40vw;
  width: 13.5vw;
  height: 5vh;
  background-color: #53aaaa;
  color: aliceblue;

}
.boU{
  width: 13.5vw;
  height: 5vh;
  background-color: #53aaaa;
  // color: aliceblue;
  margin-bottom: 3vh;
  color: aliceblue;
  display: block;
}
.boU-not{
  width: 13.5vw;
  height: 5vh;
  background-color: #717979;
  margin-bottom: 3vh;
  color: rgb(168, 166, 166);
}
